
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }

  /* => I loved that found out how to make it full page per div (height: 100vh = 100% view height)*/
  p {font-size: 16px;}
  .margin {
    margin-bottom: 45px;
    vertical-align: middle;
  }
  
  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
      height: 100vh;
}

  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
      height: 100vh;
  }
  .bg-3 {
    color: black;
    height: 100vh;*/
    background-repeat: no-repeat;
    background-size: fixed;

  }

 
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.twBtn {
  margin-top: 7px;
}

#myBtn:hover {
  background-color: #555;
}

#birthYr{
   color: #00bfff;
   text-align: center;
  }
